@import 'variables';

:root {
  @include spread-theme-map(theme-default-map());
  @include spread-theme-map(theme-primary-map());
}

$themeColorList: (
  #007AFF,
  #953D96,
  #F74F9E,
  #E0383E,
  #F7821B,
  #FFC726,
  #62BA46,
);

:export {
  @each $color in $themeColorList {
    #{$color}: $color;
  }
}

@each $color in $themeColorList {
  :root[data-theme='#{$color}'] {
    opacity: 1;
    @include spread-theme-map(theme-primary-map($color));
  }
}

:root[data-theme='dark']{
  color-scheme: dark;
}
:root[data-theme='light']{
  color-scheme: light;
}