@function getColorValue($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

@mixin spread-theme-map($map: ()) {
  @each $key, $value in $map {
    #{"--"+$key}: $value;
  }
}

@function theme-primary-map($primary-color: #2196f3) {
  @return (
    color-primary: getColorValue($primary-color),
    color-primary-1: getColorValue(mix($primary-color, white, 80%)),
    color-primary-2: getColorValue(mix($primary-color, white, 65%)),
    color-primary-3: getColorValue(mix($primary-color, white, 45%)),
    color-primary-4: getColorValue(mix($primary-color, white, 25%)),
    color-primary-5: getColorValue(mix($primary-color, white, 15%)),
    color-primary-dark: getColorValue(mix($primary-color, black, 30%))
  )
}

@function theme-default-map() {
  @return (
    color-white: getColorValue(white),
    color-black: getColorValue(black),
  );
}
